/* File contains style and design code for the frontend web application.
Sets colors, font sizes, alignments, etc. */
.App {
  text-align: center;
  /* background-color: #E1C6AA; */
  background-color: #FFE1C2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  font-size: 20px;
  align-items: center;
  padding: 12px 24px;
  background: #efbbfdff;
  color: white;
  border: none;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  align-items: center;
}

li {
  margin: 3vh 0;
  align-items: center;
}

h1 {
  font-size: 4.5rem;
  align-items: center;
}

h2 {
  font-size: 3rem;
  align-items: center;
}
